<%- include _partial/head %>
<body class="no-skin-config">

<div id="wrapper">

    <%- include("_partial/side-nav") %>

    <div id="page-wrapper" class="gray-bg">

	<%- include _partial/top-nav %>

        <!--BEGIN Breadcrumbs-->
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>BioX-Workflow</h2>
                <ol class="breadcrumb">
                    <li>
                    <a class="main-nav-link" href="#"></a>
                    </li>
                </ol>
            </div>
        </div>
        <!--END BREADCRUMBS-->

        <div class="wrapper wrapper-content animated fadeInRight">

            <div id="wrap" class="row">
                <div class="outer">
                    <!--BEGIN Main Content-->
                    <div class="row">
                        <div class="col-lg-12">

                            <%- yield %>

                        </div>
                        <!--<div class="col-lg-4">-->

                        <!--<p>There will be a sidebar here!</p>-->
                        <!-- include _partial/site-tags -->
                        <!--</div>-->
                        <!--END Main Content-->
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-12">
                        <h3> Acknowledgements </h3>
                        <p>Before version 0.03</p>

                        <p>
                        This module was originally developed at and for Weill Cornell Medical
                        College in Qatar within ITS Advanced Computing Team. With approval from
                        WCMC-Q, this information was generalized and put on github, for which
                        the authors would like to express their gratitude.
                        </p>

                        <p>
                            As of version 0.03:
                        </p>

                        <p>
                        This modules continuing development is supported by NYU Abu Dhabi in the Center for Genomics and Systems Biology.
                        With approval from NYUAD, this information was generalized and put on bitbucket, for which
                        the authors would like to express their gratitude.
                        </p>
                    </div>
                </div>
                <br>
            </div>

	<%- include _partial/footer %>

        </div>
    </div>
</div>

<%- include _partial/scripts %>


</body>


</html>
